html {
  font-size: 10px;
}

body {
  margin-top: 5%;
}

/* navbar */

nav a {
  font-size: 1.5rem;
}

.affinsize {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

/* Hero image */
.heroimage {
  height: 90vh;
  background-image: url("chrissyraulmobile.jpg");
  background-position: center;
  background-size: cover;
}

/*button Position*/
.buttonpos {
  font-size: 1.5rem;
  position: absolute;
  top: 33%;
  right: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

/*contact us position and styling*/

.modalstyling {
  background-color: rgba(0, 0, 0, 0.5);
}
/*footer styling*/
.social-networks {
  text-align: center;
}

.social-networks,
li {
  display: inline;
}

.social-networks,
i {
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  color: #696666;
  margin-bottom: -0.2rem;
}

.ptext {
  color: #696666;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 16px;
  margin-bottom: 0;
}

.makerlink {
  color: black;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 16px;
}

@media (min-width: 500px) {
  html {
    font-size: 24px;
  }

  .heroimage {
    height: 85vh;
    background-image: url("chrissyraulwide.jpg");
    background-position: center;
    background-size: cover;
  }

  body {
    margin-top: 4rem;
  }

  .social-networks,
  i {
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    color: #696666;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
  }

  .buttonpos {
    position: absolute;
    top: 33%;
    right: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }
}
