@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

html {
  font-size: 10px;
}

body {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

/* navbar */
.navbar-brand {
  font-size: 2.2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
}

nav a {
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
}

.affinsize {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

/* main container styling*/
.container {
  padding-left: 0px;
  padding-right: 0px;
}

/* card styling*/
.card {
  margin: 2.5%;
}

.card p {
  text-align: center;
}

h5 {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
  text-align: center;
}

/* Hero image */
.heroimage {
  height: 80vh;
  background-image: url("../images/chrissyraulwide.jpg");
  background-position: center;
  background-size: cover;
}

/*button Position*/
.buttonpos {
  font-size: 1.5rem;
  position: absolute;
  width: 10rem;
  left: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.buttonposctm {
  top: 23%;
}
.buttonposcm {
  top: 40%;
}

.buttonposem {
  top: 57%;
}

/*contact us button position and styling*/
.modalstyling {
  background-color: rgba(0, 0, 0, 0.5);
}

/* About styling */
#about,
p {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5rem;
  font-family: "Yantramanav", sans-serif;
  color: #2b2b2b;
}
.abouttext {
  font-size: 1.8rem;
}

/*about animation*/

.upoverlaya {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.5s ease;
}

.upcontainera:hover .upoverlaya {
  height: 100%;
}

.sermargina {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2rem;
}

/*styling opening times*/
h4,
.openinghours {
  text-align: center;
}

td {
  font-size: 1.5rem;
  font-family: "roboto", sans-serif;
  color: #2b2b2b;
}

.dogprices {
  text-align: center;
}

.contactdet,
.openinghours {
  margin: 1rem;
  padding: 1rem;
}

.mapnoborder {
  border: 0px;
}

/*services styling*/
.servicessize {
  padding: 25%;
}

h4 {
  padding-left: 5%;
  padding-right: 5%;

  margin-bottom: 5vh;
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: #2b2b2b;
}

/* review styling */
#reviews img {
  border-radius: 25px;
}

#reviews .card {
  border: 0px;
}

/*services animation*/

.upoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  width: 100%;
  height: 10%;
  transition: 0.5s ease;
}

.upcontainer:hover .upoverlay {
  height: 100%;
}

/* text stlying for review cards*/

.cardcontainer {
  position: relative;
  text-align: center;
  color: #2b2b2b;
  transition: color 0.3s;
}

.cardcenteredtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 2px solid #2b2b2b;
  width: 90%;
  height: 90%;
  opacity: 0;
  transition: opacity 0.3s;
}

.cardcenteredtext h5 {
  font-family: "Yantramanav", sans-serif;
  font-size: 2.5rem;
  color: #2b2b2b;
}

.cardcenteredtext i {
  font-size: 1.5rem;
  color: #2b2b2b;
  text-decoration: none;
}

.cardcenteredtext p {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  color: #2b2b2b;
  transition: color 0.5s;
}

.cardcenteredtext:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

/*footer styling*/
.social-networks {
  text-align: center;
}

.social-networks,
li {
  display: inline;
}

.social-networks,
i {
  font-size: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
  color: #696666;
  margin-bottom: -0.2rem;
}

.ptext {
  color: #696666;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
  margin-bottom: 0;
}

.makerlink {
  color: black;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
}
