@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

html {
  font-size: 10px;
}

body {
  margin-top: 50px;
  margin-bottom: 60px;
}

/* navbar */
.navbar-brand {
  font-size: 2.2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
}

nav a {
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
}

.affinsize {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

/* main container styling*/
.container {
  padding-left: 0px;
  padding-right: 0px;
}

/* card styling*/
.card {
  margin-top: 10%;
}

h5 {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Yantramanav", sans-serif;
  color: #696666;
}

/* Hero image */
.heroimage {
  height: 80vh;
  background-image: url("../images/chrissyraulwide.jpg");
  background-position: center;
  background-size: cover;
}

/*button Position*/
.buttonpos {
  font-size: 1.5rem;
  position: absolute;
  top: 33%;
  left: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

/*contact us position and styling*/
.modalstyling {
  background-color: rgba(0, 0, 0, 0.5);
}
/*footer styling*/
.social-networks {
  text-align: center;
}

.social-networks,
li {
  display: inline;
}

.social-networks,
i {
  font-size: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
  color: #696666;
  margin-bottom: -0.2rem;
}

.ptext {
  color: #696666;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
  margin-bottom: 0;
}

.makerlink {
  color: black;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 1.5rem;
}

/*
@media (min-width: 500px) {
  html {
    font-size: 16px;
  }

  .heroimage {
    height: 85vh;
    background-image: url("chrissyraulwide.jpg");
    background-position: center;
    background-size: cover;
  }

  body {
    margin-top: 4rem;
  }

  .buttonpos {
    position: absolute;
    top: 33%;
    right: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }
}
*/
